<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    
    <!-- Include the AngularJS library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
  </head>
  <body ng-app="UpcVisualizer">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">UPC.visualizer</a>
        </div>
      </div>
    </nav>

    <!-- this is the scope that applies to the mainController -->
    <div class="main container" ng-controller="MainController">

        <div class="form-group row">
          <div class="col-md-9">
            <h4>Search Bar:</h4>
            <input type="text" class="form-control" ng-model="input">
          </div>
          <div class="col-md-3"> 
            <form name="myForm">
              <h4 class=""> Search Type: </h4>
              <select name="repeatSelect" class="select_style" ng-model="data.repeatSelect">
                <option ng-repeat="option in data.availableOptions" value="{{option.id}}">{{option.name}}</option>
              </select>
              <button type="button" class="btn btn-warning float_button" ng-click="findType()">Find my data</button>
            </form>
          </div>
        </div>


        <div ng-repeat="product in apiData" class="top_margin_display"> 
          <div class="well top_margin_display">

            <h4>{{product.name}}</h4>
            <div class="row top_margin_display">

              <div class="col-md-2">
                <td><img class="api_image" ng-src="{{product.images[0]}}" ></td>
              </div>

              <div class="col-md-4">
                <p>Brand: {{product.brand}}</p>
                <p>Manufacturer: {{product.manufacturer}}</p>
                <p>Category: {{product.category}}</p>
                <p>Color: {{product.color}}</p>
              </div>

              <div class="col-md-4">
                <p>UPC: {{product.upc}}</p>
                <p>Sem3_id: {{product.sem3_id}}</p>
                <p>Price: {{product.sitedetails[0].latestoffers[0].price | currency}}</p>
                <p>Url: {{product.sitedetails[0].url}}</p>
              </div>

              <div class="col-md-2">
                <p>Weight: {{product.weight | number}}kg</p>
                <p>Height: {{product.height}}cm</p>
                <p>Width: {{product.width}}cm</p>
                <p>Length: {{product.length}}cm</p>
            </div>

            </div>
          </div>
        </div>


    </div>

    <!-- Modules -->
    <script src="js/app.js"></script>

    <!-- Controllers -->
    <script src="js/main/MainController.js"></script>

    <!-- Services -->
    <script src="js/factory/index.js"></script>



  </body>
</html>
