    <!-- this is the scope that applies to the mainController -->
    <div class="main container" ng-controller="MainController">

        <div class="form-group row">
          <div class="col-sm-12 col-md-3 col-lg-3 padding"> 
            <form name="myForm" class="">
              <select class="select_style" name="mySelect" ng-options="option.name for option in data.availableOptions track by option.id" ng-model="data.selectedOption"></select>
            </form>
          </div>
          <div class="col-sm-12 col-md-9 col-lg-9 padding">
            <div class="input-group">
              <input type="text" ng-enter="findType()" ng-model="input" id="inputBox" class="form-control" placeholder="Search for ...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="findType()"><i class="fa fa-search" aria-hidden="true"></i></button>
              </span>
            </div>
          </div>
        </div>

        <i class="fa fa-info-circle fa-2x info_color" ng-click="showInfo();" aria-hidden="true"></i>

        <!-- inforamtion box shown on click of information button -->
        <div ng-show="info">
          <div class="well">
            <h3 class="info_box_header">Examples:</h3>
            <ul>
              <li><h4><strong>Search:</strong> "iphone 6"</h4></li>
              <p>This is a plain text search on the name of a product</p>
              <li><h4><strong>URL:</strong> "http://www.walmart.com/ip/15833173"</h4></li>
              <p>This is a URL search</p>
              <li><h4><strong>UPC/EAN:</strong> "883974958450"</h4></li>
              <p>This is a search on a unique identifier, either the UPC or EAN or GTIN</p>
              <li><h4><strong>Site:</strong> "bestbuy.com"</h4></li>
              <p>This is a search for all thr products in in the database for this site</p>
              <li><h4><strong>Variation ID:</strong> "3Syp3aH8noK0w64aOQUuAa"</h4></li>
              <p>This is a search for all products in the database with the same variation id. These will be very variations on one product e.g. different colors.</p>
            </ul>
          </div>
        </div>

        <!-- pagination shown when multiple results returned -->
        <div ng-show="showPaginators">
          <nav>
            <ul class="pager">
              <div ng-show="offset">
                <li class="pagination_button previous"><a ng-click="prevClick()"><span aria-hidden="true">&larr;</span> Previous</a></li>
              </div>
                <p class="page_num" >Page: {{page+1|number}} | </p>
                <p ng-show="resultsCount" class="page_num" > Total Products Matched: {{resultsCount}}</p>
              <li class="next pagination_button"><a ng-click="nextClick()" >Next <span aria-hidden="true">&rarr;</span></a></li>
            </ul>
          </nav>
        </div>
        
        <span us-spinner="{radius:30, width:8, length: 16}" spinner-on="showSpinner"></span>
        
        <div ng-show="errorMessage" class="alert alert-danger error_box">
          {{errorMessage}}
        </div>

        <div ng-repeat="product in apiData" class="top_margin_display"> 
          <div class="well top_margin_display">

            <h4>{{product.name}}</h4>
            <div class="row top_margin_display">

              <div class="col-md-3 col-lg-2">
                <img class="api_image white_border" ng-src="{{product.images[0] ? product.images[0] : 'css/images/noPhoto.png'}}" >
              </div>

              <div class="col-md-3 col-lg-4">
                <p>Brand: {{product.brand}}</p>
                <p>Manufacturer: {{product.manufacturer}}</p>
                <p>Category: {{product.category}}</p>
                <p>UPC: {{product.upc ? product.upc : 'n/a'}}</p>
              </div>

              <div class="col-md-4 col-lg-4">
                <p>Color: {{product.color ? product.color : 'n/a'}}</p>
                <p>Price: {{product.sitedetails[0].latestoffers[0].price | currency}}</p>
                <p>URL: <a href="{{product.sitedetails[0].url}}" target="_blank">{{product.sitedetails[0].url}}</a></p>
                <p>Sem3 id: {{product.sem3_id}}</p>
              </div>

              <div class="col-md-2 col-lg-2">
                <p>Weight: {{product.weight ? product.weight + "kg" : 'n/a'}}</p>
                <p>Height: {{product.height ? product.height + "cm" : 'n/a'}}</p>
                <p>Width: {{product.width ? product.width + "cm" : 'n/a'}}</p>
                <p>Length: {{product.length ? product.length + "cm" : 'n/a'}}</p>
            </div>

            </div>
          </div>
        </div>

        <div ng-show="showPaginators">
          <nav>
            <ul class="pager">
              <div ng-show="offset">
                <li class="previous"><a href="#" ng-click="prevClick()"><span aria-hidden="true">&larr;</span> Previous</a></li>
              </div>
                <p class="page_num" >Page: {{page}}</p>
              <li class="next"><a href="#" ng-click="nextClick()" >Next <span aria-hidden="true">&rarr;</span></a></li>
            </ul>
          </nav>
        </div>

    </div>